<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A4Life-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B02048F1CB3BBBC00BB6B6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B0204A31CB3BBBC00BB6B6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B0204AE1CB3BBBC00BB6B6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
